<h3>Client Address</h3>
<bat-form-textbox id="line1" label="Line1" required></bat-form-textbox>
<bat-form-textbox id="line2" label="Line2"></bat-form-textbox>
<bat-form-textbox id="city" label="City" required></bat-form-textbox>
<bat-form-textbox id="state" label="State" required></bat-form-textbox>
<bat-form-textbox id="zip" label="Zip" required></bat-form-textbox>
<bat-form-textbox id="country" label="Country" required></bat-form-textbox>

<bat-form-checkbox model="billing-shipping-flag" required>Is billing address same as shipping address?</bat-form-checkbox>