<h3>Professional Details</h3>
<bat-form-textbox id="profession" label="Profession" required></bat-form-textbox>
<bat-form-textbox id="sub-profession" label="Sub Profession"></bat-form-textbox>

<bat-form-textbox id="location-name" label="Location Name" required></bat-form-textbox>
<bat-form-textbox id="line1" label="Line1" required></bat-form-textbox>
<bat-form-textbox id="line2" label="Line2"></bat-form-textbox>
<bat-form-textbox id="city" label="City" required></bat-form-textbox>
<bat-form-textbox id="state" label="State" required></bat-form-textbox>
<bat-form-textbox id="zip" label="Zip" required></bat-form-textbox>
<bat-form-textbox id="country" label="Country" required></bat-form-textbox>